* {
  margin: 0;
  padding: 0;
}

body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.flex {
  display: flex;
}

.flex button {
  margin: 0 10px 0 0;
}
.button-like {
  display: flex;
  align-items: center;
  padding: 5px;
}

.button-like > * {
  margin: 0 5px;
}

.liked {
  background: #333;
  color: #fff;
}

.text-kenit {
  font-family: "Kanit", sans-serif;
}

.memory-card-item {
  background: #f5f5f5;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: transform 2s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}
.memory-card-item .memory-card-item__image {
  width: 350px;
  height: 350px;
  padding: 15px 15px 0px 15px;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.memory-card-item .memory-card-item__image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .memory-card-item__title {
  padding: 10px;
  text-align: center;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

.memory-card-item__title > h3 {
  padding: 10px;
  text-align: center;
  transform: rotateY(180deg);
  visibility: hidden;
}

.grid-row {
  display: grid;
  gap: 15px;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}

.memory-card-position-right {
  display: flex;
  justify-content: end;
}
.memory-card-position-left {
  display: flex;
  justify-content: start;
}

.memory-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.memory-card-loading {
  animation: fadeinout 2.8s infinite ease-in-out;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.memory-card-item__default-front {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;
  position: absolute;
  width: 100%;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-radius: 10px;
  z-index: 1;
}

.memory-card-item__default-front h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
}

.memory-card-item__select,
.memory-card-item__select .memory-card-item__image,
.memory-card-item__select .memory-card-item__title > h3 {
  transform: rotateY(180deg);
  pointer-events: none;
}
.memory-card-item__select .memory-card-item__title > h3 {
  visibility: visible;
}

@media only screen and (max-width: 480px) and (min-width: 300px) {
  .memory-card-item .memory-card-item__image {
    width: 120px;
    height: 120px;
  }
  .memory-card-item__default-front h3 {
    font-size: 20px;
    text-align: center;
  }
  .grid-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 660px) and (min-width: 481px) {
  .memory-card-item .memory-card-item__image {
    width: 120px;
    height: 120px;
  }
  .memory-card-item__default-front h3 {
    font-size: 20px;
    text-align: center;
  }
  .grid-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 840px) and (min-width: 661px) {
  .memory-card-item .memory-card-item__image {
    width: 200px;
    height: 200px;
  }
  .memory-card-item__default-front h3 {
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 992px) and (min-width: 841px) {
  .memory-card-item .memory-card-item__image {
    width: 200px;
    height: 200px;
  }
  .memory-card-item__default-front h3 {
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 992px) {
  .memory-card-item .memory-card-item__image {
    width: 250px;
    height: 250px;
  }
  .memory-card-item__default-front h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
}
@media only screen and (max-width: 1279px) and (min-width: 1201px) {
}
@media only screen and (max-width: 1919px) and (min-width: 1280px) {
  .memory-card-item .memory-card-item__image {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 1920px) {
  .memory-card-item .memory-card-item__image {
    width: 300px;
    height: 300px;
  }
}
